body {
  background: black;
}

.video {
  margin-bottom: 2rem;
  width: 400px;
}

.video-progress {
  position: relative;
  height: 1rem;
  background: black;
  margin: 1rem 0;
  border: 1px solid gray;
  border-radius: 0.2rem;
}

.video-progress-cursor {
  position: absolute;
  top: -0.15rem;
  width: 0.15rem;
  height: 1.5rem;
  background: white;
}

.video-progress-range-indicator {
  position: absolute;
  height: 0.6rem;
  background: rgb(96, 96, 96);
  top: 0.2rem;
  border-radius: 0.15rem;
}

.video-progress-range-indicator.selected {
  background: rgba(53, 137, 69, 0.982);
}

.video-control-buttons {
  display: flex;
  justify-content: center;
}
